<style>
	table{
		border:1px solid black;
		border collapse:collapse;
	}
	table,thead{
		border-bottom: 1px solid black;
	}
	table,tfoot{
		border-top: 1px solid black;
	}
</style>
<table>
    <thead>
		<tr>
			<th>Weekday</th>
			<th>Date</th>
			<th>Manager</th>
			<th>Qty</th>
		</tr>
    </thead>
    <tr>
        <td>Mon</td>	
		<td>09/11</td>	
		<td>Kelsay</td>
		<td>639</td>
    </tr>	
	<tr>
        <td>Tue</td>	
		<td>09/11</td>	
		<td>Kelsay</td>
		<td>639</td>
    </tr>
	<tr>
        <td>Wed</td>	
		<td>09/11</td>	
		<td>Kelsay</td>
		<td>639</td>
    </tr>
	<tr>
        <td>Thu</td>	
		<td>09/11</td>	
		<td>Kelsay</td>
		<td>639</td>
    </tr>
	<tr>
        <td>Fri</td>	
		<td>09/11</td>	
		<td>Kelsay</td>
		<td>639</td>
    </tr>
	<tfoot>
		<tr>
			<td colspan="3">Total</td>
			
			<td>4923</td>
		</tr>
	</tfoot>
</table>